<!-- record -->
<!-- <div ng-repeat="item in record.list">record.html</div>
 -->
<div class="row">
  <div class="col-xs-12">
    <div align="center">
      <button class="yellow-ball" ng-click="record.add()">
        記録
      </button>
    </div>
  </div>
</div>
<p>
<ul class="list-group">
  <div class="list-group-item active">
    <h class="list-group-item-heading"><font size="4">授乳記録</font></h>
  </div>
  <!-- <input ng-value="{{item.id}}" />{{item.id}} -->
  <li class="list-group-item"  ng-repeat="item in record.list | orderBy:'id':true | limitTo:5 track by item.id">{{item.dateTime | date:'yyyy年MM月dd日 HH時mm分ss秒'}}</li>
</ul>
</p>
